version: 2.1

jobs:
  build:
    description: "Run Go unit and integration tests using make targets"
    parameters:
      image:
        description: "Image to use (1.x)"
        type: string
      go111module:
        description: "GO111MODULE= env var value"
        default: "auto"
        type: enum
        enum: ["on", "off", "auto"]
      vendor_deps:
        description: "Whether to vendor dependencies before running tests"
        default: "no"
        type: enum
        enum: ["yes", "no"]
      exclude_dirs:
        description: "A space-separated list of directories to ignore"
        default: ""
        type: string
    docker:
      - image: << parameters.image >>
        user: root
      - image: postgres:14
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: mysecretpassword
    working_directory: /go/src/github.com/instana/go-sensor
    steps:
      - checkout
      - run:
          name: Waiting for Postgres to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for Postgress && exit 1

      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          command: apt-get --allow-releaseinfo-change-suite update -y && apt-get install ca-certificates libgnutls30 -y || true
      - run:
          command: go install golang.org/x/tools/cmd/goimports@latest || true
      - run:
          name: Check fmt
          command: make fmtcheck
      - run:
          name: Check imports
          command: make importcheck
      - run:
          name: Run unit tests
          environment:
            RUN_LINTER: yes
            GO111MODULE: << parameters.go111module >>
            VENDOR_DEPS: << parameters.vendor_deps >>
            EXCLUDE_DIRS: << parameters.exclude_dirs >>
          command: make test
      - run:
          name: Run integration tests
          command: make integration
          environment:
            GO111MODULE: << parameters.go111module >>
            VENDOR_DEPS: << parameters.vendor_deps >>
            EXCLUDE_DIRS: << parameters.exclude_dirs >>
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

workflows:
  version: 2
  build:
    jobs:
      - build:
          name: "go1.20"
          image: "cimg/go:1.20"
      - build:
          name: "go1.19"
          image: "cimg/go:1.19"
      - build:
          name: "go1.18"
          image: "cimg/go:1.18"
      - build:
          name: "go1.17"
          image: "circleci/golang:1.17"
          exclude_dirs: "./internal/bin/sql"
      - build:
          name: "go1.16"
          image: "circleci/golang:1.16"
          exclude_dirs: "./internal/bin/sql"
      - build:
          name: "go1.15"
          image: "circleci/golang:1.15"
          exclude_dirs: "./instrumentation/instaredigo ./internal/bin/sql"
      - build:
          name: "go1.14"
          image: "circleci/golang:1.14"
          exclude_dirs: "./instrumentation/instaecho ./instrumentation/instaredigo ./internal/bin/sql ./instrumentation/cloud.google.com/go"
      - build:
          name: "go1.13"
          image: "circleci/golang:1.13"
          exclude_dirs: "./instrumentation/instaecho ./instrumentation/instaredigo ./internal/bin/sql ./instrumentation/cloud.google.com/go"
